doctype html
html
    head
        block head
            title= `${title}`
            link(rel='icon', type='image/ico', href='/css/images/favicon.ico')
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/styles.css')
            link(rel='stylesheet', href='/css/leaflet.css')
            link(rel='stylesheet', href='/css/sweetalert2.min.css')
            script(src='/js/libs/jquery-3.4.1.min.js')
            script(src='/js/libs/bootstrap.min.js')
            script(src='/js/libs/bootstrap.bundle.min.js')
            script(src='/socket.io/socket.io.js')
            script(src='/js/libs/roslib.min.js')
            script(src='/js/libs/fili.min.js')
            script(src='/js/libs/sweetalert2.min.js')
            script(src='/js/libs/leaflet.js')
            script(src='/js/libs/leaflet.movingRotatedMarker.js')
            script(src='/js/libs/leaflet.polylineDecorator.js')
            script(src='/js/libs/Sortable.min.js')
            script(src='/js/libs/gauge.min.js')
            script(src='/js/networking.js')
            | <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    body
        header.navbar.navbar-expand.justify-content-center.fixed-top.bg-light
            ul.nav.nav-pills.nav-fill
                li.nav-item
                    a.nav-link.position-relative.disabled(href="/general" id="navGeneral" aria-current="page") General
                        span.position-absolute.top-0.start-100.translate-middle.p-2.bg-success.border.border-light.rounded-circle.visually-hidden
                .mx-2
                li.nav-item
                    a.nav-link.position-relative(href="/satellite1" id="navSatellite1") Satellite I
                        span.position-absolute.top-0.start-100.translate-middle.p-2.bg-success.border.border-light.rounded-circle.visually-hidden#satellite1Connection
                .mx-2
                li.nav-item
                    a.nav-link.position-relative.disabled(href="/satellite2" id="navSatellite2") Satellite II
                        span.position-absolute.top-0.start-100.translate-middle.p-2.bg-success.border.border-light.rounded-circle.visually-hidden#satellite2Connection
                .mx-2
                li.nav-item
                    a.nav-link.position-relative(href="/satellite3" id="navSatellite3") Satellite III
                        span.position-absolute.top-0.start-100.translate-middle.p-2.bg-success.border.border-light.rounded-circle.visually-hidden#satellite3Connection
                .mx-2
                li.nav-item
                    a.nav-link.position-relative(href="/satellite4" id="navSatellite4") Satellite VI
                        span.position-absolute.top-0.start-100.translate-middle.p-2.bg-success.border.border-light.rounded-circle.visually-hidden#satellite4Connection
        header
        div.container-fluid.overflow-hidden.bg-white.pt-5
            div.row.flex-xl-nowrap.pt-2
                div.col-12.col-md-9.bd-content.px-0.order-last
                    #mapdiv.py-0
                    script(src='/js/dashboard.js')
                main.col-12.col-md-3.px-0.bd-sidebar.order-first.overflow-auto#scrollable
                    div.container.px-2
                        block content
