doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/leaflet.css')
    script(src='/js/libs/jquery-3.4.1.min.js')
    script(src='/js/libs/bootstrap.min.js')

  body
    div.container-fluid
        h1 Sailboat Telemetry

        block content