extends layout
block content

    div.row
        div.col-md-3.overflow-auto#scrollable
            lu#wayPointsList
            lu
                li.list-group-item#addElement Add a waypoint
                    button(type="button").btn.btn-primary.addWP +
                .collapse#addWPModal
                    #modStyle
                        a.text-center Click on the map to add waypoints
                            button(type="button").btn.btn-secondary.btn-block#addWPCancel End
                

            button(type="button").btn.btn-success.btn-block.submitWP Send mission

        div.col-md-9
            #mapdiv


        script(src='/js/libs/leaflet.js')
        script(src='/js/libs/leaflet.movingRotatedMarker.js')
        script(src='/js/libs/leaflet.polylineDecorator.js')
        script(src='/js/libs/Sortable.min.js')
        script(src='/js/libs/gauge.min.js')
        script(src='/js/map.js')