extends dashboard
block content
    .row.border-top.pt-2.pb-1
        .col.px-2
            div.btn-group.d-flex(role='group' aria-label='modeSelector')
                label.btn.btn-outline-primary.my-0(for='navigationModeBtn' id='navigationModeLabel') #[input.btn-check(type='radio' name='mode' id='navigationModeBtn' autocomplete='off')] Navigation
                label.btn.btn-outline-primary.my-0(for='explorationModeBtn' id='explorationModeLabel') #[input.btn-check(type='radio' name='mode' id='explorationModeBtn' autocomplete='off')] Exploration
                label.btn.btn-outline-primary.my-0(for='tasksModeBtn' id='tasksModeLabel') #[input.btn-check(type='radio' name='mode' id='tasksModeBtn' autocomplete='off')] Tâches
    .row.border-bottom.shadow.pb-1
        .col.px-2
            .collapse#navigationModeCollapse
                .py-1
                    .d-grid
                        button(type='button').btn.btn-outline-secondary#refreshMission Rafraichir mission
                    li.list-group.pt-1#waypointListGroup
                    .collapse#addingWaypointCancelCollapse
                        .pt-1
                        .card.text-center
                            .card-title
                                .card-text Cliquer sur la carte pour ajouter
                                    .row.px-2.pt-1
                                        .col-6.pr-1
                                            .d-grid
                                                button(type='button').btn.btn-danger.disabled#clearWaypointList Effacer tout
                                        .col-6.pl-1
                                            .d-grid
                                                button(type='button').btn.btn-secondary#addWaypointCancel Terminer
                    .collapse.show#addingWaypointCollapse
                        .pt-1
                            lu.list-group
                                li.list-group-item.d-flex.justify-content-between.align-items-center#addElement Modifier l'itinéraire
                                    button(type='button').btn#addingWaypointBtn
                                        img(src='../css/images/plus.svg')
                        .collapse.show#submitMissionCollapse
                            .pt-1
                                .d-grid
                                    button(type='button').btn.btn-secondary.disabled#submitWaypointList Envoyer mission
                        .collapse#launchMissionCollapse
                            .pt-1
                                .d-grid
                                    button(type='button').btn.btn-success#launchMissionBtn Lancer mission
                        .pt-1
                            .d-grid
                                button(type='button').btn.btn-danger#abortMissionBtn Arrêter mission
            .collapse#explorationModeCollapse
                .py-1
                    .card.card-body
                        |   Renseignez un polygone convexe à explorer pour générer une trajectoire en boustrophédon permettant de couvrir cette zone.
                    li.list-group.pt-1#coverageAreaListGroup
                    .collapse#addingCoverageAreaCancelCollapse
                        .pt-1
                        .card.text-center
                            .card-title
                                .card-text Cliquer sur la carte pour ajouter
                                    .row.px-2.pt-1
                                        .col.pr-1
                                            .d-grid
                                                button(type='button').btn.btn-danger.disabled#clearCoverageAreaList Effacer zone
                                        .col.pl-1
                                            .d-grid
                                                button(type='button').btn.btn-secondary#addCoverageAreaCancel Terminer
                    .collapse.show#addingCoverageAreaCollapse
                        .pt-1
                            lu.list-group
                                li.list-group-item.d-flex.justify-content-between.align-items-center#addElement Modifier la zone d'exploration
                                    button(type='button').btn#addingCoverageAreaBtn
                                        img(src='../css/images/plus.svg')
                    .pt-1
                        .d-grid
                            button(type='button').btn.btn-secondary.disabled#submitCoverageArea Générer trajectoire
            .collapse#tasksModeCollapse
                .py-1
                    .card.card-body
                        | Tasks mode
    .row.pt-2.pb-1
        .col.px-2
            label.btn.btn-outline-primary.d-grid.my-0(for='telemetryModeBtn' id='telemetryModeLabel') #[input.btn-check(type='radio' name='mode' id='telemetryModeBtn' autocomplete='off')] Télémétrie
    .row.border-bottom.shadow.pb-1
        .col.px-2
            .collapse#telemetryModeCollapse
                .pt-1
                    .progress(style='height: 40px;')
                        .progress-bar.bg-success.progress-bar-striped.progress-bar-animated(role='progressbar' style='width: 0%;' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')#battery Batterie
                .pt-1
                    label.btn.btn-outline-secondary.d-grid(for='displayCameraBtn' id='displayCameraLabel') #[input(type='checkbox' id='displayCameraBtn' autocomplete='off')] Caméra embarquée
                .collapse#displayCameraCollapse
                    .pt-1
                        img.img-fluid.rounded(id='videoStreamImg' src='../css/images/placeholder.png')
                .pt-1
                    .row.remove-height
                        .col-6.d-flex.align-items-center.justify-content-center
                            canvas#compass
                        .col-6.d-flex.align-items-center.justify-content-center
                            canvas#velocity
                .pt-1
                    .row.remove-height
                        .col-6.d-flex.align-items-center.justify-content-center
                            canvas#altitude
                        .col-6.d-flex.align-items-center.justify-content-center
                            .h3 #[.badge.text-wrap.bg-dark.text-white#droneState]
                .pt-2
                script(src='/js/telemetry_aerial.js')
    .row.border-bottom.shadow.py-2
        .col.px-2
            .collapse.show#takeOffCollapse
                .d-grid
                    button(type='button').btn.btn-secondary#takeOffBtn Décollage
            .collapse#landCollapse
                .d-grid
                    button(type='button').btn.btn-secondary#landBtn Attérissage
            .pt-1
                .d-grid
                    button(type='button').btn.btn-outline-danger#emergencyStop Arrêt d'urgence

    script(src='/js/satellite1.js')