extends layout
block content
    div.row
    h1 TODO
        div.col-md-3
            canvas#compass
        div.col-md-3
            canvas#speed
        div.col-md-3
        div.col-md-3
    script(src='/js/settings.js')