extends layout
block content
    
    div.container.my-4
        ul.settings
    .container
        button(type="submit").btn.btn-primary.float-right#submitSettings Send settings
    
    script(src='/js/settings.js')