extends layout
block content
    div.row
        div.col-md-3
            canvas(width="300", height="300")#compass
        div.col-md-3
            canvas(width="300", height="300")#speed
        div.col-md-3
        div.col-md-3

    script(src='/js/libs/gauge.min.js')

    script(src='/js/panels.js')